// btn
.btn:hover {
  color: $white;
  background-color: $primary-orange;
  transition: all 0.001s;
}

// section 전역 스타일
.sec-g {
  &__text {
    &__tit1 {
      font-weight: $font-bold;
      font-size: 2.5rem;
    }
    &__desc {
      font-weight: $font-extralight;
      font-size: 1.4rem;
    }
    &__btn {
      margin-top: 15px;
      color: $bgc;
      background-color: $white;
      border: none;
      height: 42px;
      border-radius: 10px;
      font-weight: $font-bold;
      font-size: 1.5rem;
      width: 100%;
    }
  }

  @include tablet {
    &__text {
      &__tit1 {
        font-size: 6rem;
      }
      &__desc {
        font-size: 2.2rem;
      }
      &__btn {
        font-size: 2.5rem;
        height: 60px;
        width: 100%;
        max-width: 600px;
        margin-top: 25px;
      }
    }
  }

  @include tabletMore {
    &__text {
      &__tit1 {
        font-size: 6.2rem;
      }
      &__desc {
        font-size: 2.2rem;
      }
      &__btn {
        font-size: 2rem;
        height: 60px;
        max-width: 350px;
        margin-top: 25px;
      }
    }
  }
}
