// 사이트 레이아웃 스타일

// 전역 그리드
.inner {
  position: relative;
  width: 100%;
  max-width: $grid-mobile;
  margin: 0 auto;
  padding: 0 $p-mobile;

  @include tablet {
    padding: 0 $p-tablet;
    max-width: $grid-tablet;
  }
  @include tabletMore {
    max-width: $grid-desktop;
    padding: 0 $p-desktop;
  }
}

// 스킵 네비게이션
#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: $gray-90;
  a {
    &:not(:focus) {
      @include sr-only;
    }
    &:focus {
      @include flex-layout($ai: center, $jc: center);
      @include focus($color: $white, $alpha: 0.9);
      font-size: 1.5rem;
      color: $white;
      width: 100%;
      height: 3.2rem;
      margin: 0 auto;
      text-align: center;
    }
  }
  &.type1 {
    background-color: $white;
    a {
      &:focus {
        color: $gray-90;
      }
    }
  }
}

#wrap {
  padding-top: 45px;
  background: $bgc;

  @include tablet {
    padding-top: 50px;
  }
  @include tabletMore {
    padding-top: 70px;
  }
}

// header
#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bgc;
  &.active {
    &::before {
      height: 150px;
    }
    .gnb__depth2 {
      height: 150px;
      padding: 10px 0;
      background-color: $bgc;
      border-bottom: solid 1px $gray-70;
    }
  }
  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 0;
    // background: $gray-5;
    transition: all 0.3s;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }
  #logo {
    display: flex;
    transform: scale(0.6);
    transform-origin: 0 50%;

    a {
      transform: translateY(-5%);
      display: block;
      width: 120px;
      height: 50px;
      background: url("../../../resources/images/pattern/common/head_logo.png") no-repeat 0 0 / contain;
    }
    span {
      @include sr-only;
    }
  }
  @include tablet {
    .inner {
      height: 50px;
    }
    #logo {
      transform: scale(0.8) translateY(10%);
    }
  }
  @include tabletMore {
    .inner {
      height: 70px;
      border-bottom: solid 1px $gray-70;
    }
    #logo {
      transform: none;
    }
  }
  #nav-all {
    font-size: 1.8rem;
    .gnb__depth1 {
      margin-top: 10px;
      &__menu {
        padding: 10px 0;
        display: block;
        border-bottom: solid 1px $gray-70;
        width: 100%;
      }
    }
    .close {
      margin-top: 10px;
    }
    .gnb__depth2 {
      padding-left: 10px;
      display: none;
      font-size: 1.5rem;
      padding-bottom: 10px;
      li {
        padding-top: 5px;
      }
      &.active {
        display: block;
      }
    }

    @include tablet {
      font-size: 2.5rem;
      .gnb__depth1 {
        margin-top: 20px;
      }
      .gnb__depth2 {
        padding-left: 15px;
        display: none;
        font-size: 2rem;
        padding-bottom: 10px;
        li {
          padding-top: 5px;
        }
        &.active {
          display: block;
        }
      }
    }
    @include tabletMore {
    }
  }
}

#gnb {
  display: none;
  position: relative;
  @include tabletMore {
    display: block;
  }
  .gnb__depth1 {
    display: flex;

    > li {
      position: relative;
      &:hover {
        > a > span {
          color: $primary-orange;
          &::after {
            width: 100%;
          }
        }
      }
      &:first-child {
        .gnb__depth2 {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: $gray-70;
          }
        }
      }
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        padding: 0 70px;
        font-size: 1.8rem;
        font-weight: $font-bold;
        @include under1320 {
          padding: 0 40px;
        }
        span {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background: $primary-orange;
            transition: all 0.3s;
          }
        }
      }
    }
  }
  .gnb__depth2 {
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 0;
    padding: 0;
    background-color: $bgc;
    transition: all 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: $gray-70;
    }
    a {
      font-weight: $font-light;
      display: block;
      padding: 10px 0;
      text-align: center;
      color: $white;
      font-size: 1.5rem;
      &:hover {
        font-weight: $font-bold;
        color: $primary-orange;
      }
    }
  }
}

.util {
  display: flex;
  gap: 10px;
  align-items: center;
  @include tablet {
    gap: 30px;
  }
  @include tabletMore {
    gap: 20px;
    height: 70px;
  }
  .lang {
    display: none;
    position: relative;
    @include tabletMore {
      display: block;
    }
    &.active {
      .lang__btn::after {
        content: "\f106";
        @include lineAwesome;
      }
      .lang__lst {
        display: block;
      }
    }
    &__btn {
      height: 57px;
      margin-right: 10px;
      font-size: 2rem;
      text-transform: uppercase;
      &::after {
        content: "\f107";
        @include lineAwesome;
        margin-left: 5px;
        color: $gray-50;
      }
    }
    &__lst {
      display: none;
      position: absolute;
      top: 52px;
      left: 0;
      width: 90%;
      border: 1px solid $gray-40;
      background: $bgc;
      text-align: center;
      li {
        padding: 5px 0;
        text-transform: uppercase;
        &:first-child {
          border-bottom: 1px solid $gray-40;
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: scaleX(-1);
    height: 45px;
    width: 35px;

    &::before {
      right: 0;
      content: "\f002";
      @include lineAwesome;
      font-size: 2.3rem;

      @include tablet {
        font-size: 3.5rem;
      }
    }
    &.active::before {
      color: $primary-orange;
      transition: all 0.3s;
    }
  }
  .all-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    width: 35px;
    &::before {
      content: "\f0c9";
      @include lineAwesome;
      font-size: 2.3rem;
      @include tablet {
        font-size: 3.5rem;
      }
    }
    &.active::before {
      color: $primary-orange;
    }
  }
}
#nav-all {
  z-index: 2000;
  position: fixed;
  top: 45px;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 0 $p-mobile;
  background: rgba(12, 12, 12, 0.9);
  backdrop-filter: blur(10px);
  transition: all 0.1s;
  &.active {
    display: block;
    left: 0;
  }

  @include tablet {
    top: 50px;
    padding: 0 $p-tablet;
  }
  @include tabletMore {
    top: 70px;
    padding: 0 $p-desktop;
  }
}

#search-menu {
  // display: none;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.9);
  backdrop-filter: blur(10px);
  padding: 0 $p-mobile;

  @include tablet {
    padding: 0 $p-tablet;
  }
  @include tabletMore {
    padding: 0 $p-desktop;
  }

  .searchbar {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: solid 1px $gray-70;

    .search-back {
      transform: translateX(-5px);
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        font-family: "Line Awesome Free";
        font-weight: 900;
        content: "\f104";
        color: $white;
        font-size: 3rem;
      }
    }
    .search-here {
      margin-left: 5px;
      height: 40px;
      width: 100%;
      background-color: $bgc;
      border-radius: 10px;
      border-style: none;
      color: $white;
    }
  }
  &.active {
    display: block;
    left: 0;
  }
  .search-recent {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: $font-light;
    color: $gray-40;
  }

  /////////tablet//////////
  @include tablet {
    .searchbar {
      height: 50px;
      border-bottom: solid 1px $gray-70;
      .search-back {
        height: 50px;
        width: 50px;
        &::before {
          font-size: 3.3rem;
        }
      }
      .search-here {
        margin-left: 0px;
        height: 45px;
      }
    }
    &.active {
      display: block;
      left: 0;
    }
    .search-recent {
      padding-top: 15px;
      font-size: 1.6rem;
    }
  }
}

footer {
  height: 335px;
  position: relative;

  @include tablet {
    height: 500px;
  }
  @include tabletMore {
    height: 500px;
  }
  #logo {
    padding-top: 70px;
    a {
      display: block;
      width: 120px;
      height: 50px;
      background: url("../../../resources/images/pattern/common/head_logo.png") no-repeat 0 0 / contain;
    }
    span {
      @include sr-only;
    }
  }
  @include tablet {
    #logo {
      padding-top: 100px;
      a {
        transform: scale(1.5);
        transform-origin: 0 0;
      }
    }
  }
  @include tabletMore {
    #logo {
      padding-top: 100px;
      a {
        transform: scale(1.5);
        transform-origin: 0 0;
      }
    }
  }

  .footer-video {
    outline: none;
    border: 0;
    background-color: none;
    mask-image: -webkit-radial-gradient(white, #121212);
    backface-visibility: hidden;
    overflow: hidden;
    position: absolute;
    height: 140px;
    transform: translate(-30px, -79.08px);
  }
  @include tablet {
    .footer-video {
      height: 230px;
      transform: translate(-25px, -130px);
    }
  }
  @include tabletMore {
    .footer-video {
      height: 230px;
      transform: translate(-25px, -130px);
    }
  }

  .footer-text {
    margin-top: 15px;
    &-1 {
      margin-top: 5px;
      font-weight: $font-extralight;
      font-size: 1.2rem;
    }

    &-lst {
      font-weight: $font-light;
      font-size: 1rem;
    }

    &-wrap {
      display: flex;
      gap: 10px;
      margin-bottom: 2px;
    }

    &-wrap2 {
      display: flex;
      gap: 10px;
      margin-bottom: 2px;
    }
  }
  @include tablet {
    .footer-text {
      margin-top: 50px;
      &-1 {
        margin-top: 5px;
        font-weight: $font-extralight;
        font-size: 1.5rem;
      }

      &-lst {
        font-weight: $font-light;
        font-size: 1.5rem;
      }

      &-wrap {
        display: flex;
        gap: 10px;
        margin-bottom: 3px;
      }

      &-wrap2 {
        display: flex;
        gap: 10px;
        margin-bottom: 3px;
      }
    }
  }
  @include tabletMore {
    .footer-text {
      margin-top: 50px;
      &-1 {
        margin-top: 5px;
        font-weight: $font-extralight;
        font-size: 1.8rem;
      }

      &-lst {
        font-weight: $font-light;
        font-size: 1.8rem;
      }

      &-wrap {
        display: flex;
        gap: 10px;
        margin-bottom: 3px;
      }

      &-wrap2 {
        display: flex;
        gap: 10px;
        margin-bottom: 3px;
      }
    }
  }

  .footer-sns {
    margin-top: 35px;
    justify-content: center;
    display: flex;

    gap: 15px;
    > a {
      height: 50px;
      width: 50px;
    }
  }
  @include tablet {
    .footer-sns {
      margin-top: 50px;
      justify-content: center;
      display: flex;

      gap: 25px;
      > a {
        height: 70px;
        width: 70px;
      }
    }
  }
  @include tabletMore {
    .footer-sns {
      margin-top: 50px;
      justify-content: center;
      display: flex;

      gap: 50px;
      > a {
        height: 80px;
        width: 80px;
      }
    }
  }
}
